<!-- NAVIGATION -->
<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-6 ni-nav">
            <div>
                <a [routerLink]="['/home-app']" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></a>
                <span>{{title}}</span>
            </div>
        </div>
    </div>
    <!-- TABS -->
    <div class="row">
        <div class="col-xs-12 col-md-5 col-md-offset-1">
            <!--  FORM -->
            <!--<div>-->
                <form #f="ngForm" (ngSubmit)="onSubscribe(f.form)" novalidate>
                    <md-tab-group>
                        <md-tab label="Hours">
                            <div class="form-group col-xs-12 col-md-6">
                                <label for="hours">Hours</label>
                                <input 
                                    ngModel name="hours" 
                                    #name="ngModel" 
                                    id="hours" 
                                    type="text" 
                                    class="form-control"
                                    placeholder="0"
                                >
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <label for="date">Date</label><br>
                                <my-date-picker 
                                    name="mydate" 
                                    [options]="myDatePickerOptions" 
                                    [(ngModel)]="model" 
                                    class="ni-my-datepicker">
                                </my-date-picker>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="notes">Description/notes</label>
                                <textarea 
                                    ngModel name="notes"
                                    #name="ngModel" 
                                    id="notes" 
                                    type="textbox" 
                                    class="form-control ni-notes" 
                                    placeholder="Type Here">
                                </textarea>
                            </div>
                        </md-tab>
                        <md-tab label="$Amount">
                            <div class="form-group col-xs-12 col-md-6">
                                <label for="amount">$Amount</label>
                                <input 
                                    ngModel name="amount" 
                                    #name="ngModel" 
                                    id="amount" 
                                    type="text" 
                                    class="form-control"
                                    placeholder="0"
                                >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="notes">Description/notes</label>
                                <textarea 
                                    ngModel name="notes"
                                    #name="ngModel" 
                                    id="notes" 
                                    type="textbox" 
                                    class="form-control ni-notes" 
                                    placeholder="Type Here">
                                </textarea>
                            </div>
                        </md-tab>
                    </md-tab-group>
                    <div>
                        <button class="col-xs-12 col-md-4 myCol" (click)="onClickCanSave()">
                            Submit
                        </button>
                    </div>
                </form>
            <!--</div>-->
        </div>
    </div>
</div>