.top {
 max-width: 700px;
        margin: 0 auto;
}


.co-navbar {
    background-color: black;
    color: white;
    height: 45px;
    }
.co-navbar-plus{
    color: #f2f2f2;
}
.outer {
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}


