<div class="my-container">
    <div id="section1" class="section header">
        <div id="row1" class="row cd-navbar" [ngClass]="setColor(coColor)">
            <div id="left-arrow" class="column">
                <a (click)="goBack()" class="glyphicon glyphicon-chevron-left cd-chevron-left"></a>
            </div>
            <div id="title" class="column">{{coName + " Details"}}</div>
            <div id="plus" class="column">
                <a (click)="goToNewItem()" class="cd-navbar-plus" aria-hidden="true">+</a></div>
        </div>
        <div id="row2" class="row">
            <div class="spacer" (click)="goToEditCompany()">address goes here
            </div>
        </div>
        <div id="row3" class="row">
            <div class="column cd-midbar" [ngClass]="setColor(coColor)"></div>
        </div>
    </div>
    <div id="section2" class="section">
        <div id="detail-wrapper">
            <app-item-detail *ngFor="let i of items" [item]="i" [color]="coColor"></app-item-detail>
        </div>
    </div>
    <div id="section3" class="section footer">
        <button class="myCol" (click)=" getNothing()">
            Submit
        </button>
    </div>
</div>