@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


*{
  font-size: 20px;
  /*max-width: 1200px;*/
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight:300;
  
}
.my-container{
    display: flex;
    background: mediumpurple;
    flex-direction: column;
    width: 100vw;
    min-height: 400px;
    max-height: 100vh;

}
#section1{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    flex: 1 1 0px;
    margin: 0px 0px;
    min-height: 2.5em;
    max-height: 2.5em;


}
#col1{
    background-color: red;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    min-height: 1.25em;
    max-height: 2em;
    margin: auto 1%;
}
#section2 {
    display: flex;
    flex-direction: row;
    margin: 0px;
    min-height: 600px;
    max-height: 100%;
    min-width: 100vw;
    background-color: pink;
}

#col2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    min-height: 50px;
    max-height: 100%;
    margin: 10px;
    background-color: orange;
}

#col3 {
    display: flex;
    flex-direction: column;
    flex-grow: 11;
    flex-shrink: 11;
    flex-basis: 0px;
    min-height: 50px;
    max-height: 100%;
    margin: 10px;
    background-color: yellow;
    /*background: transparent;*/
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    min-height: 50px;
    max-height: 100%;
    margin: 10px;
    background-color: darkblue;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    background-color: saddlebrown;
    min-height: 50px;
    max-height: 20%;
    margin: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    min-height: 80%;
    max-height: 100%;
    margin: 10px;
    background-color: yellowgreen;
}

.input {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    min-height: 1em;
    max-height: 100%;
    margin: 5px;
}

/*nav .over-form footer {
        flex: 1 100%;
}*/

/*----------------EDIT-COMPANY NAVBAR-------------------*/

/*nav {
    padding: 10px 0;
}*/

/*---------------EDIT-COMPANY FORM---------------------*/

/*label {
    font-size: 75%;
    line-height: 1.0em;
    margin-bottom: 10px;
}*/

.subtitle {
    font-size: 70%;
    line-height: 0.7em;
}

/*.form-control {
    font-size: 100%;
}

.form-row {
    margin: 0 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}*/

/*.form-row>.form-col {
    padding: 0 10px;
    flex: 1 100%;
    flex-direction: column;
}*/


/*-----------------TESTING------------------------*/


/*
.tmp-form {
        background-color: saddlebrown;
        }
*/


/*.tmp-name{
        background-color: mediumpurple;

}*/


/*
.tmp-hour {
        background-color: yellow;
}*/


/*------------ CE COLOR RADIO BUTTONS --------------*/


/*input[type=radio] + label*/

.ec-radio {
    /*display:inline-block;*/
    margin-right: 10px;
    padding: 15px;
    border-radius: 35px;
    color: white;
    border: transparent 0px;
    ;
    width: 40px;
    height: 40px;
}

.ec-radio:first-of-type {
    margin-left: 20px
}

input[type=radio] {
    display: none;
    /*margin: 10px;*/
}

input[type=radio]:checked+label {
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
/*--------------COLORS---------------------------------*/

.brown {
    background-color: #8D6E63;
}

.blue {
    background-color: #3498db;
}

.green {
    background-color: #00C853;
}

.yellow {
    background-color: #f1c40f;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #9b59b6;
}
/*-------------COMPANY_EDIT SUBMIT BUTTON--------------*/

/*screen-xs*/

@media (max-width: 399px) {
    .over-form {
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }
    .footer-col {
        display: flex;
        margin: 20px 10px 10px 10px;
        padding-left: 160px;
        flex: 1 100%;
        flex-direction: column;
        border: transparent 0px;
        background-color: #34495e;
        color: #f2f2f2;
        min-width: 400px !important;
        max-width: 400px;
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 2.0;
    }
    .ec-input {
        font-size: 80%;
        line-height: 125%;
        min-width: 360px;
        max-width: 700px;
        margin: 0px 0px;
    }
    .form-row {
        flex-direction: column;
    }
}


