@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
* {
    font-size: 20px;
    max-width: 1200px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}
.my-container {
    margin: 0 auto;
}
nav .over-form footer {
    flex: 1 100%;
}


/*-----------------------------------------------------*/


/*               EDIT-COMPANY NAVBAR                     */


/*-----------------------------------------------------*/

nav {
    padding: 10px 0;
    /*background-color: greenyellow;*/
}


/*-----------------------------------------------------*/


/*               EDIT-COMPANY FORM                     */


/*-----------------------------------------------------*/

label {
    font-size: 75%;
    line-height: 1.0em;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 80%;
    line-height: 1.0em;
}

.form-control {
    font-size: 100%;
}

.form-row {
    margin: 0 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.form-row>.form-col {
    padding: 0 10px;
    flex: 1 100%;
    flex-direction: column;
}


/*-----------------TESTING------------------------*/


/*
.tmp-form {
        background-color: saddlebrown;
        }
*/


/*.tmp-name{
        background-color: mediumpurple;

}*/


/*
.tmp-hour {
        background-color: yellow;
}*/


/*------------ CE COLOR RADIO BUTTONS --------------*/


/*input[type=radio] + label*/

.ec-radio {
    /*display:inline-block;*/
    margin-right: 10px;
    padding: 15px;
    border-radius: 35px;
    color: white;
    border: transparent 0px;
    ;
    width: 40px;
    height: 40px;
}

.ec-radio:first-of-type {
    margin-left: 20px
}

input[type=radio] {
    display: none;
    /*margin: 10px;*/
}

input[type=radio]:checked+label {
    border-color: black;
    border-style: solid;
    border-width: 3px;
}


/*-----------------------------------------------------*/


/*              COLORS                                 */


/*-----------------------------------------------------*/

.brown {
    background-color: #8D6E63;
}

.blue {
    background-color: #3498db;
}

.green {
    background-color: #00C853;
}

.yellow {
    background-color: #f1c40f;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #9b59b6;
}


/*-----------------------------------------------------*/


/*             COMPANY_EDIT SUBMIT BUTTON              */


/*-----------------------------------------------------*/


/*screen-xs*/

@media (max-width: 399px) {
    .over-form {
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }
    .footer-col {
        display: flex;
        margin: 20px 10px 10px 10px;
        padding-left: 160px;
        flex: 1 100%;
        flex-direction: column;
        border: transparent 0px;
        background-color: #34495e;
        color: #f2f2f2;
        min-width: 400px !important;
        max-width: 400px;
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 2.0;
    }
    .ec-input {
        font-size: 80%;
        line-height: 125%;
        min-width: 360px;
        max-width: 700px;
        margin: 0px 0px;
    }
    .form-row {
        flex-direction: column;
    }
}


/*screen-sm*/

@media (min-width: 400px) and (max-width: 800px) {
    .over-form {
        display: flex;
        flex-direction: column;
        min-width: 500px;
        margin: 0 20%;
        /*background-color: green;*/
    }
    .footer-col {
        display: flex;
        /*margin: 20px 10px 10px 10px;*/
        flex: 1 100%;
        flex-direction: column;
        justify-content: center;
        text-justify: center;
        border: transparent 0px;
        background-color: #34495e;
        color: #f2f2f2;
        min-width: 800px !important;
        max-width: 800px;
        position: fixed;
        bottom: 0;
        padding-left: 50%;
        margin-bottom: 0px;
        margin-left: -25%;
        line-height: 2.0;
    }
    .ec-input {
        font-size: 75%;
        line-height: 125%;
        min-width: 400px;
        max-width: 700px;
        margin: 0px 0px;
    }
    .form-row {
        flex-direction: column;
    }
}


/*screen-md*/


/*@media (min-width: 992px) and (max-width: 1200px) { 
  .myCol{font-size:90%;
    max-width: 150px;
    box-sizing : border-box;
    border-radius: 4px;
    border: transparent 0px;
    background-color: #34495e;
    color: #f2f2f2
    margin: 15px;
    line-height: 2.0;}
}*/


/*screen-lg corresponds with col-lg*/

@media (min-width: 801px) {
    .over-form {
        display: flex;
        flex-direction: column;
        max-width: 740px;
        margin: 0 auto 0 auto;
    }
    .footer-row {
        flex-direction: column;
    }
    .footer-row>.footer-col {
        margin: 20px 10px 10px 10px;
        padding: 0px 60px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
        border-radius: 4px;
        border: transparent 0px;
        background-color: #34495e;
        color: #f2f2f2;
        line-height: 2.5em;
    }
    .ec-input {
        font-size: 80%;
        line-height: 125%;
    }
}