<div class="my-container">
    <header id="header" (click)="goBack()">
       <div>
            <a  class="glyphicon glyphicon-chevron-left" aria-hidden="true"></a>
        hi there
        </div> 
    </header>
    <nav id="section1">
        <div class="column" id="sec1col1">
             <img src='src/assets/images/logo/large-press.png_48x48.png' alt="logo">
        </div>
        <div class="column" id="sec1col2">
           Current Companies
        </div>
        <div class="column" id="sec1col3">
            <div id="plus" class="nav-wrapper">
           +
            </div>
        </div>
    </nav>
    <div id="section2" >
     
        <div class="column" id="sec2col1"></div>
        <div class="column" id="sec2col2">

            <!--<div id="card-wrapper">-->
                    <!--COMPANY CARDS -->
<div class="co-card">
    <app-company-card 
        *ngFor="let company of companies | async" 
        [company]= "company">
    </app-company-card>
</div>


            <!--</div>-->
           
         
                <!--<div id="row1" class="row">
                    <div id="input-box1" class="input-box">
                        <label id="label1" class="input"></label>
                        <div id="input1" class="input"></div>
                    </div>
                    <div id="input-box2" class="input-box">
                        <label id="label2" class="input"></label>
                        <div id="input2"class="input" ></div>
                    </div>
                </div>
                <div class="row" id="row2">
                    <div id="input-box3" class="input-box">
                        <label id="label3" class="input"></label>
                        <div id="input3" class="input"></div>
                    </div>
                    <div id="input-box4" class="input-box">
                        <label id="label4" class="input"></label>
                        <div id="input4" class="input"></div>
                    </div>
                </div>
                <footer id="row3" class="row">
                    <div id="input-box5" class="input-box">
                        <label id="label5" class="input"></label>
                        <div id="input5" class="footer-row"></div>
                    </div>
                    <div id="input-box6 " class="input-box"></div>
                </footer>-->
        </div>
        <div id="sec2col3" class="column" ></div>
    </div>
</div>
<!-- NAVBAR -->
<!--<div class="flex-container co-navbar" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item flex-item-hide" fxFlex="5%"></div>
  <div class="flex-item" fxFlex="10%">
      <img src='src/assets/images/logo/large-press.png_48x48.png' alt="logo">
  </div>
  <div class="flex-item co-nav-title" fxFlex="70%"fxLayoutAlign="center center">Current Companies</div>
  <div class="flex-item flex-item-hide" fxFlex="10%"></div>
  <div class="flex-item" fxFlex="5%">
   <a (click)="goToEditCompany()"  class="co-navbar-plus" aria-hidden="true">+</a></div>
</div>
<div class="top">-->

 <!--COMPANY CARDS 
<div class="co-card">
    <app-company-card 
        *ngFor="let company of companies | async" 
        [company]= "company">
    </app-company-card>
</div>-->
<!--</div>-->
      <!--COMPANY CARDS 
<div class="co-card">
    <app-company-card 
        *ngFor="let company of companies | async" 
        [company]= "company">
    </app-company-card>
</div>-->