<!-- NAVBAR -->

<div class="flex-container co-navbar" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item" fxFlex="5%"></div>
  <div class="flex-item" fxFlex="10%">
      <img src='src/assets/images/logo/large-press.png_48x48.png' alt="logo">
  </div>
  <div class="flex-item co-nav-title" fxFlex="70%"fxLayoutAlign="center center">Current Companies</div>
  <div class="flex-item" fxFlex="5%"></div>
  <div class="flex-item" fxFlex="10%">
   <a (click)="goToEditCompany()" id="edit" class="co-navbar-plus" aria-hidden="true">edit</a></div>
</div>
<div class="top">
<!-- COMPANY CARDS -->
<div class="co-card">
    <app-company-card 
        *ngFor="let company of companies | async" 
        [company]= "company">
    </app-company-card>
</div>
</div>
