<!-- NAVIGATION -->
<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-6 iv-nav">
            <div>
                <a 
                    (click)="goBack()"
                    class="glyphicon glyphicon-chevron-left" 
                    aria-hidden="true"
                ></a>
                <span>Export Invoice</span>
            </div>
        </div>
    </div>
       <div> <pre>{{ myform.value | json}}</pre></div>
    <!-- HEADER -->
    <div class="row">
        <div class="col-xs-12 col-md-5 col-md-offset-1">
            <!--  FORM -->
            <div>
                <form [formGroup]="invoice" (ngSubmit)="onSubscribe()" novalidate>
                    <div class="row"  >
                        <div class=" form-group col-xs-12 col-md-6 ">
                            <label for="beginDate">Begin Date</label><br>
                            <my-date-picker 
                                 name="beginDate" 
                                 [options]="myDatePickerOptions"
                                 formControlName="beginDate"
                                 id="begin-date"
                                >
                            </my-date-picker>
                        </div>
                        <div class=" form-group col-xs-12 col-md-6 ">
                            <label for="endDate">End Date</label><br>
                            <my-date-picker 
                                 name="endDate" 
                                 [options]="myDatePickerOptions"
                                 formControlName="endDate"
                                 id="end-date"
                                >
                            </my-date-picker>
                        </div>
                   </div>
                   <div class="row"> 
                        <div class="form-group col-md-12 iv-discount "> 
                              <div [ngClass]="{'toggle':false}">
                                  <label 
                                  for="amount"
                                  >Discount Amount
                              </label>
                              <div class="input-group ">
                                  <input class="form-control "
                                         name="amount"
                                         (change)="updateDiscountAmount()" 
                                         name="amount"
                                         formControlName="amount"
                                         id="amount" 
                                         type="text" 
                                  > 
                                  <span class="input-group-addon iv-group-addon" 
                                        (click)= "toggleIt()">%</span>
                              </div>
                              </div>
                              <div [ngClass]="{'toggle':true}">
                                    <label for="discount">
                                        Discount Percentage
                                    </label>
                                <div class="input-group ">
                                    <input class="form-control "
                                            name="discount" 
                                            formControlName="discount"
                                            id="discount" 
                                            type="text" 
                                            (change)="updateDiscount()" 
                                            (click)= "toggleIt()" 
                                    > 
                                    <div class="input-group-addon iv-group-addon">$</div>
                                </div>
                              </div>
                        </div>
                   </div>
                    <div class="form-group col-md-12">
                        <label for="notes">Description/notes</label>
                        <textarea 
                             class="form-control iv-notes" 
                             name="description" 
                             formControlName="description"
                             id="description" 
                             type="textbox" 
                             required
                             placeholder="Type Here">
                        </textarea>
                    </div>
                    <div>
                       <button class="col-xs-12 col-md-4 myCol"
                           (click)="setClasses()"
                       >Submit
                       </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
