<!-- NAVIGATION -->
<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-6 iv-nav">
            <div>
                <a 
                    [routerLink]="['/home-app']" 
                    class="glyphicon glyphicon-chevron-left" 
                    aria-hidden="true"
                ></a>
                <span>Export Invoice</span>
            </div>
        </div>
    </div>
    <!-- HEADER -->
    <div class="row">
        <div class="col-xs-12 col-md-5 col-md-offset-1">
            <!--  FORM -->
            <div>
                <form #f="ngForm" (ngSubmit)="onSubscribe(f.form)">
                    <div class="row">
                        <div class="col-xs-12">
                        <div class="form-group col-md-12 ">
                            <label 
                                 for="mydaterange" 
                                 class="iv-my-daterangepicker"
                            >Date Range
                            </label><br>
                            <my-date-range-picker 
                                 name="mydaterange" 
                                 [options]="myDateRangePickerOptions"
                                 (dateRangeChanged)="onDateRangeChanged($event)"
                                 [(ngModel)]="model" 
                                 class="iv-my-daterangepicker"
                                 id="iv-my-daterangepicker"
                             >
                             </my-date-range-picker>
                        </div>
                        </div>   
                        <div class="form-group col-md-12 ">
                              <div class="">
                              <label 
                                  for="discountAmount"
                                  >Discount
                              </label>
                              <div class="input-group ">
                                  <input [(ngModel)]=discountAmount 
                                       (change)="updateDiscountAmount()" 
                                       name="discount"
                                       #name="ngModel" 
                                       id="discount" 
                                       type="text" 
                                       class="form-control iv-discount" 
                                  > 
                                  <span class="input-group-addon iv-group-addon iv-discount" >%</span>
                                  <span class="input-group-addon iv-group-addon iv-discount" >$</span>
                              </div>
                              </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="notes">Description/notes</label>
                        <textarea 
                             [(ngModel)]= description 
                             name="notes" 
                             #name="ngModel" 
                             id="notes" 
                             type="textbox" 
                             class="form-control iv-notes" 
                             required
                             placeholder="Type Here">
                        </textarea>
                    </div>
                    <div>
                       <button class="col-xs-12 col-md-4 myCol"
                           (click)="setClasses()"
                       >Submit
                       </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
