<div>
  <h2> Hi there</h2>
    <div class="cd-row" fxLayout="row" fxLayoutAlign="center center">
        <div class="flex-item" fxFlex="5%" fxFlex.xs="0%" fxLayoutAlign="center center"></div>
        <div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">{{item.id}}</div>
        <div  
            class="flex-item" 
            fxFlex="10%" 
            fxFlex.xs="15%" 
            fxLayoutAlign="center center">   
                {{item.date | date:'M/d/yy'}}
        </div>
       
        <!--<div 
            [ngClass]="{'med':false, 'small':true}"  
            class="flex-item small" 
            fxFlex="40%" 
            fx LayoutAlign="center center" 
            (click)="goToEditItem(item, company)">
               {{item.description | truncate:22}}
        </div>-->
        <div 
            [ngClass]="{'med':true}" 
            class="flex-item med" 
            fxFlex="40%"  
            fxLayoutAlign="center center" 
            (click)="goToItemDetail(item)">   
                {{item.description }}
        </div>
        
        <div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">{{"$ "+item.amount}}</div>
        <div class="flex-item" fxFlex="10%" fxFlex.xs="15%" fxLayoutAlign="center center">{{item.hours}}</div>
        <div 
            class="flex-item" 
            fxFlex="10%" 
            fxLayoutAlign="center center">
            <i (click)="deleteUser()" class="glyphicon glyphicon-remove clickable"></i>
        </div>
        <div class="flex-item" fxFlex="5%" fxFlex.xs="0%" fxLayoutAlign="center center"></div>
    </div>
</div>