<div class="container">
    <section id="section1">
        <div id="col1" class="gutter"></div>
        <div id="col2" class="column">
            <div id="row1" class="row" [ngClass]="setColor(color)">
                <div id="input-box1" class="input-box">
                    <label for="date" id="date-label" class="label">Date: </label>
                    <div id="date-text" name="date" class="input" type="text" contenteditbale>{{item.date | date:'M/d/yy'}}</div>
                </div>
                <div id="input-box2" class="input-box">
                    <label for="amount" id="amount-label" class="label">Amount: </label>
                    <div id="amount-text" name="amount" class="input" type="text" contenteditable>$ {{item.amount}}</div>
                </div>
                <div id="input-box3" class="input-box">
                    <label for="hours" id="hours-label" class="label">Hours: </label>
                    <div id="hours-text" name="hours" class="input" type="text" contenteditable>{{item.hours}}</div>
                </div>
            </div>
            <div id="row2" class="row">
                <div id="input-box21" class="input-box"></div>
                <div id="input-box22" class="input-box">
                    <!--<label for="description" id="description-label" class="label">Description: </label>-->
                    <div id="description-text" 
                         name="description" 
                         class="input" 
                         type="textarea" 
                         contenteditable>{{item.description }}
                    </div>
                </div>
            </div>
        </div>
        <div id="col3" class="gutter"></div>
    </section>
</div>








<!--<div>
    <div class="cd-row" fxLayout="row" fxLayoutAlign="center center">
        <div class="flex-item" fxFlex="5%" fxFlex.xs="0%" fxLayoutAlign="center center"></div>
        <div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">{{item.id}}</div>
        <div  
            class="flex-item" 
            fxFlex="10%" 
            fxFlex.xs="15%" 
            fxLayoutAlign="center center">   
                {{item.date | date:'M/d/yy'}}
        </div>-->

<!--<div 
            [ngClass]="{'med':false, 'small':true}"  
            class="flex-item small" 
            fxFlex="40%" 
            fx LayoutAlign="center center" 
            (click)="goToEditItem(item, company)">
               {{item.description | truncate:22}}
        </div>-->
<!--<div 
            [ngClass]="{'med':true}" 
            class="flex-item med" 
            fxFlex="40%"  
            fxLayoutAlign="center center" 
            (click)="goToItemDetail(item)">   
                {{item.description }}
        </div>
        
        <div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">{{"$ "+item.amount}}</div>
        <div class="flex-item" fxFlex="10%" fxFlex.xs="15%" fxLayoutAlign="center center">{{item.hours}}</div>
        <div 
            class="flex-item" 
            fxFlex="10%" 
            fxLayoutAlign="center center">
            <i (click)="deleteUser()" class="glyphicon glyphicon-remove clickable"></i>
        </div>
        <div class="flex-item" fxFlex="5%" fxFlex.xs="0%" fxLayoutAlign="center center"></div>
    </div>
</div>-->